#system
com.tedu.base.rule.function.CurrentTime
com.tedu.base.rule.function.GetSessionKey
com.tedu.base.rule.function.Password
com.tedu.base.rule.function.GetOrderCode
com.tedu.base.rule.function.CurrentPlanNum

#validator
com.tedu.base.rule.function.validate.CheckChinese
com.tedu.base.rule.function.validate.CheckEmail
com.tedu.base.rule.function.validate.CheckIdCard
com.tedu.base.rule.function.validate.CheckMobile
com.tedu.base.rule.function.validate.CheckXSS
com.tedu.base.rule.function.validate.CheckPhone
com.tedu.base.rule.function.validate.CheckURL
com.tedu.base.rule.function.validate.CheckPostCode
com.tedu.base.rule.function.validate.CheckIpAddress
com.tedu.base.rule.function.validate.CheckMACAddress
com.tedu.base.rule.function.validate.CheckCharAndNum
com.tedu.base.rule.function.validate.CheckNum
com.tedu.base.rule.function.validate.CheckPasswordStrength
com.tedu.base.rule.function.validate.SqlResult


#string
com.tedu.base.rule.function.string.Contain
com.tedu.base.rule.function.string.Length
com.tedu.base.rule.function.string.StartWith
com.tedu.base.rule.function.string.EndWith
com.tedu.base.rule.function.string.Substring
com.tedu.base.rule.function.string.IndexOf
com.tedu.base.rule.function.string.Split
com.tedu.base.rule.function.string.Join
com.tedu.base.rule.function.string.ReplaceFirst
com.tedu.base.rule.function.string.ReplaceAll
com.tedu.base.rule.function.string.LowerCase
com.tedu.base.rule.function.string.UpperCase
com.tedu.base.rule.function.string.Double2Chinese
com.tedu.base.rule.function.string.Chinese2Double
com.tedu.base.rule.function.string.Chinese2Pinyin
com.tedu.base.rule.function.string.MD5
com.tedu.base.rule.function.string.Guid

#collection
com.tedu.base.rule.function.collection.Sum
com.tedu.base.rule.function.collection.Max
com.tedu.base.rule.function.collection.Min
com.tedu.base.rule.function.collection.Avg
com.tedu.base.rule.function.collection.Distinct
com.tedu.base.rule.function.collection.First
com.tedu.base.rule.function.collection.Last
com.tedu.base.rule.function.collection.Map
com.tedu.base.rule.function.collection.Filter
com.tedu.base.rule.function.collection.Count
com.tedu.base.rule.function.collection.Include
com.tedu.base.rule.function.collection.Sort
com.tedu.base.rule.function.collection.Reduce
com.tedu.base.rule.function.collection.Every
com.tedu.base.rule.function.collection.NotAny
com.tedu.base.rule.function.collection.Some
#math
com.tedu.base.rule.function.math.Rand
com.tedu.base.rule.function.math.Abs
com.tedu.base.rule.function.math.Sqrt
com.tedu.base.rule.function.math.Pow
com.tedu.base.rule.function.math.Log
com.tedu.base.rule.function.math.Log10
com.tedu.base.rule.function.math.Sin
com.tedu.base.rule.function.math.Cos
com.tedu.base.rule.function.math.Tan
#typeChange
com.tedu.base.rule.function.typeChange.Long
com.tedu.base.rule.function.typeChange.Double
com.tedu.base.rule.function.typeChange.Str

#predicate
com.tedu.base.rule.function.predicate.IsEq
com.tedu.base.rule.function.predicate.IsExists
com.tedu.base.rule.function.predicate.IsGe
com.tedu.base.rule.function.predicate.IsGt
com.tedu.base.rule.function.predicate.IsLe
com.tedu.base.rule.function.predicate.IsLt
com.tedu.base.rule.function.predicate.IsNeq
com.tedu.base.rule.function.predicate.IsNil
com.tedu.base.rule.function.predicate.IsAnd
com.tedu.base.rule.function.predicate.IsOr

#workflow
com.tedu.base.rule.function.workflow.HasTask
com.tedu.base.rule.function.workflow.WorkflowState