<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tedu.base.file.dao.DocumentMapper">
	<resultMap id="DocumentMap" type="com.tedu.base.file.model.DocumentModel">
		<id column="id" property="id" />
		<result column="file_id" property="fileId" />
		<result column="cata_id" property="cataId" />
		<result column="title" property="title" />
		<result column="keyword" property="keyword" />
		<result column="status" property="status" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="update_time" property="updateTime" />
		<result column="update_by" property="updateBy" />
	</resultMap>
	
	<insert id="handleDocument" parameterType="com.tedu.base.file.model.DocumentModel" useGeneratedKeys="true" keyProperty="id">
		insert into t_document (id,file_id,cata_id,title,keyword,status,create_time,create_by,update_time,update_by)
		values (#{id},#{fileId},#{cataId},#{title},#{keyword},#{status},#{createTime},#{createBy},#{updateTime},#{updateBy})
	</insert>
	
	<select id="getFileById" resultMap="DocumentMap" parameterType="java.lang.Integer">
		select id,file_id,cata_id,title,keyword,status,create_time,create_by,update_time,update_by from t_document
		where file_id=#{fileId}
	</select>
	
	<select id="getFileByFileId" resultMap="DocumentMap" parameterType="java.lang.Integer">
		select id,file_id,cata_id,title,keyword,status,create_time,create_by,update_time,update_by from t_document
		where file_id=#{fileId} and cata_id=#{cataId}
	</select>
	<update id="updateDocById" parameterType="com.tedu.base.file.model.DocumentModel" useGeneratedKeys="true" keyProperty="id">
		update  t_document set title=#{title},update_time=#{updateTime},update_by=#{updateBy}
		where id=#{id}
	</update>
</mapper>