<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tedu.base.file.dao.FileMapper">
	<resultMap id="fileMap" type="com.tedu.base.file.model.FileModel">
		<id column="id" property="id" />
		<result column="storage_type" property="mediaType" />
		<result column="access_type" property="accessType" />
		<result column="uuid" property="fileUUID" />
		<result column="length" property="length" />
		<result column="filename" property="title" />
		<result column="file_type" property="fileType" />
		<result column="create_time" property="createTime" />
		<result column="create_by" property="createBy" />
		<result column="description" property="remark" />
		<result column="path" property="path" />
		<result column="url" property="url" />
		<result column="source" property="source" />
	</resultMap>
	
	<insert id="insertFile" parameterType="com.tedu.base.file.model.FileModel" useGeneratedKeys="true" keyProperty="id">
		insert into t_file_index (id,storage_type,access_type,uuid,length,filename,file_type,create_time,create_by,description,path,url,source)
		values (#{id},#{mediaType},#{accessType},#{fileUUID},#{length},#{title},#{fileType},#{createTime},#{createBy},#{remark},#{path},#{url},#{source})
	</insert>
	
	<select id="getFileById" resultMap="fileMap" parameterType="java.lang.Integer">
		select id,storage_type,access_type,uuid,length,filename,file_type,create_time,create_by,description,source,path,url from t_file_index
		where id=#{id}
	</select>
	
	<update id="updateFileById" parameterType="com.tedu.base.file.model.FileModel" useGeneratedKeys="true" keyProperty="id">
		update  t_file_index set length=#{length},filename=#{title},path=#{path},url=#{url},create_time=#{createTime}
		where id=#{id}
	</update>
	
	<select id="getFileByFileName" resultMap="fileMap" parameterType="String">
		select id,storage_type,access_type,uuid,length,filename,file_type,create_time,create_by,description,source,path,url from t_file_index
		where filename=#{filename}
	</select>
	
	<select id="getFileByUUID" resultMap="fileMap" parameterType="String">
		select id,storage_type,access_type,uuid,length,filename,file_type,create_time,create_by,description,source,path,url from t_file_index
		where uuid=#{uuid}
	</select>
</mapper>