<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tedu.base.engine.dao.SqlMapper">
	<update id="mapUpdate" >
		${updateSql}
	</update>
	 <insert id="mapInsert"  useGeneratedKeys="true" keyProperty="primaryFieldValue" >
	    ${insertSql};
	</insert>
	<delete id="deleteById" >
		${deleteSql}
	</delete>
<!-- 	<select id="query" resultType="java.util.Map" > -->
<!-- 		${queryParam} -->
<!-- 	</select>		 -->
	<select id="selectOne" resultType="java.util.Map">
		${queryParam}
	</select>					
	<select id="mapSelect" resultType="java.util.Map" >
		${selectSql} 
	</select>
</mapper>